.footer {
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
  font-family: "Georgia", serif;
  padding-bottom: 4em;
}

.footer img {
  width: 200px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  font-size: 1.5em;
  font-weight: 100;
}

.footer-info {
  font-size: 1.5em;
  font-weight: 100;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.social-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.social-icon.linkedin::before {
  content: "in";
}

.social-icon.facebook::before {
  content: "f";
}

.social-icon.instagram::before {
  content: "i";
}

.social-icon.youtube::before {
  content: "▶";
}

.footer-bottom {
  margin-top: 2em;
  border-top: 1px solid #2b2f44;
  padding-top: 10px;
  font-size: 1em;
  font-weight: 100;
}
