.header {
  width: 100%;
  z-index: 1000;
  position: relative;
  height: 80px;
}

.header-transparent {
  background: transparent;
  position: absolute;
  top: 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2px 20px;
}

.header_logo img {
  margin-top: 10px;
  height: 50px;
}

.header_nav { 
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.header_nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.3em;
}
.header_nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header, .site-header {
    display: none;
  }
}
