.chat-container {
  background-color: #f9fafb;
  width: 100%;
  height: calc(100vh - 80px); /* 헤더 높이를 제외한 화면 높이 */
  display: flex;
  flex-direction: column;
}

.chat-header {
  color: #1b2339;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-shadow: 0 1px #1b2339;
  z-index: 1000;
  padding: 10px 0;
}

.chat-body {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: calc(100vh - 140px); /* 헤더와 입력란을 제외한 높이 */
}

.chat-body.empty {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-message h1 {
  font-size: 2.5em;
  color: #002b5b;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 1.8em;
  color: #1b2339;
}

.message-bot,
.message-user {
  display: flex;
  align-items: center;
  margin: 5px 0;
  position: relative;
}

.message-bot {
  flex-direction: row;
  align-items: flex-start;
}

.message-user {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.message-bubble-bot {
  background-color: #e1e9f1;
  color: #000;
  border-radius: 15px;
  padding: 20px 25px;
  max-width: 50%;
  position: relative;
  font-size: 1.5em;
}

.message-bubble-user {
  background-color: #3e5978;
  color: white;
  border-radius: 15px;
  padding: 15px 20px;
  max-width: 60%;
  margin-left: auto;
  position: relative;
  font-size: 1.5em;
}

.icon {
  margin: 10px 10px 0 15px;
  width: 60px;
}

.info-icon {
  width: 30px;
  float: left;
  padding-left: 10px;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
}

.message-input {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.3em;
  margin-right: 10px;
  outline: none;
}

.message-send-button {
  background-color: #002b5b;
  font-size: 1.3em;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.message-send-button:hover {
  background-color: #004080;
}

.message-send-button:active {
  background-color: #001f3f;
}

.loading-gif {
  width: 30px; /* 로딩 GIF의 크기 설정 */
  height: auto;
}

@media (max-width: 768px) {
  .chat-container {
    height: 100vh;
  }

  .chat-header {
    font-size: 1.1em;
    padding: 10px 0;
  }

  .icon {
    width: 40px; /* 아이콘 크기 축소 */
    margin: 5px;
  }

  .info-icon {
    width: 25px; /* 정보 아이콘 크기 축소 */
  }

  .chat-body {
    padding: 10px;
    font-size: 1.2em; /* 글씨 크기 축소 */
  }

  .message-bubble-bot,
  .message-bubble-user {
    padding: 10px 15px; /* 패딩 축소 */
    max-width: 80%; /* 버블 최대 너비 조정 */
    font-size: 1.2em; /* 글씨 크기 축소 */
  }

  .message-bubble-user {
    padding: 10px 15px;
    max-width: 80%;
  }

  .message-input-container {
    padding: 10px;
  }

  .message-input {
    font-size: 1em;
    padding: 8px;
  }

  .message-send-button {
    font-size: 1em;
    padding: 8px;
  }

  .loading-gif {
    width: 25px; /* 로딩 GIF 크기 축소 */
  }

  .welcome-message h1 {
    font-size: 2em; /* 환영 메시지 제목 크기 축소 */
  }

  .welcome-message p {
    font-size: 1.5em; /* 환영 메시지 본문 크기 축소 */
  }
}

@media (max-width: 480px) {
  .chat-header {
    font-size: 1em;
  }

  .icon {
    width: 30px; /* 아이콘 크기 더 축소 */
  }

  .info-icon {
    width: 20px; /* 정보 아이콘 크기 더 축소 */
  }

  .chat-body {
    padding: 5px;
    font-size: 1em;
  }

  .message-bubble-bot,
  .message-bubble-user {
    padding: 8px 12px; /* 패딩 더 축소 */
    max-width: 90%; /* 버블 최대 너비 더 조정 */
    font-size: 1em; /* 글씨 크기 더 축소 */
  }

  .message-input {
    font-size: 0.9em;
    padding: 6px;
  }

  .message-send-button {
    font-size: 0.9em;
    padding: 6px;
  }

  .loading-gif {
    width: 20px; /* 로딩 GIF 크기 더 축소 */
  }

  .welcome-message h1 {
    font-size: 1.8em; /* 환영 메시지 제목 크기 더 축소 */
  }

  .welcome-message p {
    font-size: 1.3em; /* 환영 메시지 본문 크기 더 축소 */
  }
}
