/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
}

/* Body styles */
body {
  background-color: #1b2339;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main content styles */
.main {
  flex: 1;
  padding-top: 60px; /* Ensure content starts below the fixed header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Footer styles */
footer {
  width: 100%;
  background-color: #1b2339;
  padding: 20px;
  text-align: center;
  position: relative; /* Ensure it stays at the bottom */
}
