/* css/carouselBanner.css */
.carousel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel-container img {
  width: 100%;
  height: auto;
  display: block;
}
.banner-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* 배경 색상 */
  color: rgb(255, 255, 255);
  height: 540px; /* 슬라이드 높이 */
}

.banner-item1 {
  width: 25%;
  padding: 30px;
  background-color: #1b2339;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 42vh;
}

.banner-item1 h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.banner-item1 p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 20px;
}

.banner-content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  color: #333;
  height: 540px;
}

.banner-content2 h2 {
  font-size: 3rem;
  margin-bottom: 80px;
  padding-bottom: 50px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.banner-item2 {
  text-align: center;
  width: 30%;
  margin-top: 0;
}

.banner-item2 h3 {
  font-size: 3rem;
  color: #3366ff;
  padding-bottom: 20px;
}

.banner-item2 p {
  font-size: 2rem;
  color: #666;
}
.banner-content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  color: #333;
  height: 540px;
  text-align: center;
}

.banner-content3 h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.team-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.banner-content3 img.team-image {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto; /* 이미지 중앙 정렬 */
}
