.header {
  background-color: #1b2339;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2px 20px;
}

.header_logo img {
  margin-top: 10px;
  height: 40px;
}

.header_nav {
  display: flex;
  gap: 10px;
}

.header_nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.header_nav a:hover {
  text-decoration: underline;
}
