.header {
  background-color: #1b2339;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header_logo img {
  height: 33px;
  padding: 1px;
}

.header_nav {
  display: flex;
  gap: 10px;
}

.header_nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.header_nav a:hover {
  text-decoration: underline;
}
