.chat-container {
  background-color: #f9fafb;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header {
  color: #1b2339;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-shadow: 0 1px #1b2339;
}

.chat-body {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  font-size: 15px;
}

.message-bot,
.message-user {
  display: flex;
  align-items: center;
  margin: 5px 0;
  position: relative;
}

.message-bot {
  flex-direction: row;
}

.message-user {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.message-bubble-bot {
  background-color: #e1e9f1;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  max-width: 80%;
  position: relative;
}

.message-bubble-user {
  background-color: #002b5b;
  color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 80%;
  margin-left: auto;
  position: relative;
}

.icon {
  margin: 0 10px;
  width: 50px;
}

.info-icon {
  width: 35px;
  float: left;
  padding-left: 10px;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
}

.message-input {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-right: 10px;
  outline: none;
}

.message-send-button {
  background-color: #002b5b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.message-send-button:hover {
  background-color: #004080;
}

.message-send-button:active {
  background-color: #001f3f;
}
